@charset "UTF-8";
body {
  font-size: 1rem;
  font-family: "Yu Mincho", "MS Mincho", "Hiragino Mincho Pro", serif;
  line-height: 1.6875;
  letter-spacing: 0.05em;
  color: #724B10;
  background-color: #F6F1ED;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.header__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0;
}

/*nav*/
.nav {
  display: none;
  font-family: "Noto Sans JP", "default-font-M", serif;
  font-size: 0.9375rem;
}
@media (min-width: 1100px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 3.3333333333em;
  font-weight: bold;
}
.nav__item:first-child a::before {
  content: "ホーム";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item:nth-child(2) a::before {
  content: "お店について";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item:nth-child(3) a::before {
  content: "メニュー";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item:nth-child(4) a::before {
  content: "店舗情報";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item:nth-child(5) a::before {
  content: "アクセス";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item:nth-child(6) a::before {
  content: "お問い合わせ";
  font-size: 0.75rem;
  display: block;
  text-align: center;
}
.nav__item a {
  display: inline-block;
  text-align: center;
  position: relative;
  text-decoration: none;
  transition: color 0.4s;
}
.nav__item a::after {
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
  width: 100%;
  border-bottom: 2px solid #cf6d2b;
}
.nav__item a:hover {
  color: #cf6d2b;
}
.nav__item a:hover::after {
  transform: scale(1, 1);
}
.nav__item:last-child a:hover::after {
  transform: scale(0, 1);
}
.nav #active {
  color: #cf6d2b;
  border-bottom: 2px solid #cf6d2b;
}

.instagram-icon {
  margin-left: auto;
  padding-left: 50px;
}
.instagram-icon img {
  width: 38px;
  height: auto;
}

/*humburger-menu*/
.ham {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #B69472;
  transition: height 0.4s ease-in-out;
  z-index: 1000;
}
@media (min-width: 1100px) {
  .ham {
    display: none;
  }
}
.ham--isOpen {
  height: 100vh;
}
.ham--isOpen .ham__item {
  -webkit-animation: fadeInUp 0.5s ease-in-out forwards;
          animation: fadeInUp 0.5s ease-in-out forwards;
}
.ham__btn {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  z-index: 1100;
}
.ham span {
  display: block;
  width: 70%;
  margin: auto;
  height: 4px;
  background-color: #724B10;
  position: absolute;
  left: 0;
  right: 0;
  top: calc((100% - 4px) / 2);
  border-radius: 3px;
  transition: 0.2s;
}
.ham__lineTop {
  transform: translateY(-10px);
}
.ham__lineMiddle {
  transform: translateY(0);
}
.ham__lineBottom {
  transform: translateY(10px);
}
.ham--isOpen .ham__lineTop {
  transform: rotate(45deg);
}
.ham--isOpen .ham__lineMiddle {
  opacity: 0;
}
.ham--isOpen .ham__lineBottom {
  transform: rotate(-45deg);
}
.ham__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B69472;
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}
.ham--isOpen .ham__nav {
  top: 0;
}
.ham__list {
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0.5555555556em 0;
  line-height: 1.4444444444;
  font-size: 1.125rem;
}
.ham__list:first-child a::after {
  content: "ホーム";
  display: block;
  font-size: 0.875rem;
}
.ham__list:nth-child(2) a::after {
  content: "お店について";
  display: block;
  font-size: 0.875rem;
}
.ham__list:nth-child(3) a::after {
  content: "メニュー";
  display: block;
  font-size: 0.875rem;
}
.ham__list:nth-child(4) a::after {
  content: "店舗情報";
  display: block;
  font-size: 0.875rem;
}
.ham__list:nth-child(5) a::after {
  content: "アクセス";
  display: block;
  font-size: 0.875rem;
}
.ham__list:nth-child(6) a::after {
  content: "お問い合わせ";
  display: block;
  font-size: 0.875rem;
}
.ham .instagram-menu {
  padding: 1.0625em 0;
}
.ham__item {
  padding-top: 3.8888888889em;
  text-align: center;
  letter-spacing: 0.17em;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transform: translateY(-30px);
}
.ham__item a {
  text-decoration: none;
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ham img {
  margin-right: 18px;
  width: 30px;
  height: auto;
}

/*footer*/
.footer .footerInfo {
  color: #724B10;
  background-color: #fff;
}
.footer .footerInfo__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .footer .footerInfo__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (1000px <= width) {
  .footer .footerInfo__data {
    width: 44.6153846154%;
    padding-top: 7.5em;
  }
}
.footer .footerInfo__map {
  width: 100%;
  margin-bottom: 2.5em;
  padding-top: 5em;
}
@media (1000px <= width) {
  .footer .footerInfo__map {
    width: 49.2307692308%;
    margin-bottom: 0;
    padding-top: 7.8125em;
  }
}
.footer .footerInfo__map iframe {
  height: 220px;
}
@media (1000px <= width) {
  .footer .footerInfo__map iframe {
    height: 25em;
  }
}
.footer .footerInfo__logo {
  margin-top: 3.125em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.75em;
}
@media (1000px <= width) {
  .footer .footerInfo__logo {
    margin-top: 2em;
    padding: 3.75em 0;
  }
}
.footer .access__list,
.footer .contact__list {
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .footer .access__list,
.footer .contact__list {
    font-size: 1rem;
  }
}
.footer .access {
  padding: 0 0 2.5em;
  border-bottom: 1px solid;
}
.footer .access__title {
  padding-bottom: 0.7777777778em;
  font-size: 1.125rem;
  font-weight: bold;
}
@media (1000px <= width) {
  .footer .access__title {
    font-size: 1.875rem;
  }
}
.footer .access__title::after {
  content: "-アクセス-";
  padding-left: 1em;
  font-size: 1.125rem;
}
@media (1000px <= width) {
  .footer .access__title::after {
    font-size: 1.25rem;
  }
}
@media (1000px <= width) {
  .footer .access__item {
    display: flex;
  }
}
@media (1000px <= width) {
  .footer .access__text {
    padding-left: 2.25em;
  }
}
.footer .contact {
  padding: 2.5em 0 0;
}
.footer .contact__title {
  padding-bottom: 0.7777777778em;
  font-size: 1.125rem;
  font-weight: bold;
}
@media (1000px <= width) {
  .footer .contact__title {
    font-size: 1.875rem;
  }
}
.footer .contact__title::after {
  content: "-お問い合わせ-";
  font-size: 1rem;
  padding-left: 1em;
}
@media (1000px <= width) {
  .footer .contact__title::after {
    font-size: 1.25rem;
  }
}
.footer .contact__tel {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (1000px <= width) {
  .footer .contact__tel {
    font-size: 2.8125rem;
  }
}
.footer .contact__item {
  display: flex;
}
.footer .contact__text {
  padding-left: 2.25em;
}
.footer .footerEnd {
  padding: 2.8125em 0;
  color: #fff;
  background-color: #B69472;
}
.footer .footerEnd__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.footer .footerEnd .footerNav {
  padding-bottom: 1.875em;
}
@media (1000px <= width) {
  .footer .footerEnd .footerNav {
    padding-bottom: 3.75em;
  }
}
.footer .footerEnd .footerNav__list {
  display: flex;
  justify-content: flex-end;
}
.footer .footerEnd .footerNav__item {
  padding-left: 1.8181818182em;
  font-size: 0.6875rem;
}
@media (1000px <= width) {
  .footer .footerEnd .footerNav__item {
    padding-left: 2.8571428571em;
    font-size: 0.875rem;
  }
}
.footer .footerEnd__copy {
  text-align: center;
  font-size: 0.625rem;
}
@media (1000px <= width) {
  .footer .footerEnd__copy {
    font-size: 0.875rem;
  }
}

/*module--------------------------------*/
.logo {
  width: 90px;
  height: vh;
}
@media (1000px <= width) {
  .logo {
    width: 140px;
    height: auto;
  }
}

.btn {
  display: block;
  position: relative;
  width: 200px;
  padding: 0.7058823529em 0;
  font-family: "Noto Sans JP", "default-font-M", serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  color: #724B10;
  border: 1px solid #906F3F;
  transition: color 0.5s, background-color 0.5s;
}
@media (1000px <= width) {
  .btn {
    width: 260px;
    padding: 1em 0;
    font-size: 1.0625rem;
  }
}
.btn:hover {
  color: #fff;
  background-color: #906F3F;
}

.visual {
  margin-bottom: 3.125em;
}
@media (1000px <= width) {
  .visual {
    margin-bottom: 6.25em;
  }
}
.visual__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.visual__title {
  padding: 3.125em 0 1.5em;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 3;
  line-height: 1.25;
}
@media (1000px <= width) {
  .visual__title {
    padding: 3.125em 0 2em;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}
.visual__title::after {
  display: block;
  content: attr(data-label);
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}
@media (1000px <= width) {
  .visual__title::after {
    font-size: 1.625rem;
  }
}

.postItem {
  border-bottom: 1px solid #724B10;
  padding: 2.5em 0;
}
.postItem:first-child {
  padding: 0 0 2.5em;
}
.postItem__category {
  font-size: 1.25rem;
  margin-bottom: 0.625em;
}
@media (1000px <= width) {
  .postItem__category {
    font-size: 1.75rem;
  }
}
.postItem__category span {
  font-size: 1.125rem;
  color: #B69472;
  padding-right: 30px;
}
@media (1000px <= width) {
  .postItem__category span {
    font-size: 1.625rem;
  }
}

.menuItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6666666667em;
  padding: 0.5555555556em 1.1111111111em;
  background-color: #fff;
}
.menuItem__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.625em;
}
@media (1000px <= width) {
  .menuItem__category {
    font-size: 1.25rem;
  }
}
@media (1000px <= width) {
  .menuItem__text {
    font-size: 1.25rem;
  }
}
.menuItem__example {
  display: block;
  font-size: 0.8125rem;
}
@media (1000px <= width) {
  .menuItem__example {
    font-size: 1rem;
  }
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
@media (1000px <= width) {
  table {
    width: auto;
  }
}
table .thead {
  display: none;
}
@media (1000px <= width) {
  table .thead {
    display: table-header-group;
    padding: 1.25em;
    background-color: #DCCBBE;
  }
  table .thead .th {
    font-size: 1.0625rem;
    text-align: center;
    border: none;
    border-left: 1px solid #F6F1ED;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6666666667em;
    vertical-align: middle;
  }
  table .thead .th:first-child {
    border-left: none;
  }
}
table .tbody .tr {
  font-size: 1.125rem;
}
@media (1000px <= width) {
  table .tbody .tr {
    font-size: 1.5rem;
  }
}
@media (1000px <= width) {
  table .tbody .tr:first-child dd {
    border-top: none;
  }
}
table .tbody .tr:nth-child(4) .td:nth-child(3),
table .tbody .tr:nth-child(4) .td:last-child, table .tbody .tr:last-child .td:nth-child(3),
table .tbody .tr:last-child .td:last-child {
  display: none;
}
@media (1000px <= width) {
  table .tbody .tr:nth-child(4) .td:nth-child(3),
table .tbody .tr:nth-child(4) .td:last-child, table .tbody .tr:last-child .td:nth-child(3),
table .tbody .tr:last-child .td:last-child {
    display: table-cell;
  }
}
table .tbody .tr:last-child .th,
table .tbody .tr:last-child .td {
  border-bottom: none;
}
table .tbody .tr .th {
  font-size: 1.3125rem;
}
@media (1000px <= width) {
  table .tbody .tr .th {
    font-size: 1.5rem;
  }
}
table .tbody .th,
table .tbody .td {
  display: block;
}
@media (1000px <= width) {
  table .tbody .th,
table .tbody .td {
    display: table-cell;
  }
}
table .tbody .th {
  background-color: #DCCBBE;
  text-align: center;
  color: #724B10;
}
@media (1000px <= width) {
  table .tbody .th {
    background-color: #fff;
    color: #724B10;
  }
}
table .tbody .td {
  font-size: 1.25rem;
}
@media (1000px <= width) {
  table .tbody .td {
    font-size: 1.5rem;
  }
}
table .tbody .td::before {
  content: attr(data-label);
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.2666666667em;
}
@media (1000px <= width) {
  table .tbody .td::before {
    content: "";
  }
}
table .th {
  text-align: center;
  border-left: 0;
  padding: 0.625em;
}
@media (1000px <= width) {
  table .th {
    width: 250px;
    padding: 1em;
    border-bottom: 1px solid #D5D5D5;
  }
}
table .td {
  min-height: 100px;
  text-align: center;
  border-bottom: 1px solid #D5D5D5;
  padding: 0.875em;
  font-family: "Noto Serif JP", serif;
}
@media (1000px <= width) {
  table .td {
    min-width: unset;
    padding: 1.125em;
    border: 1px solid #D5D5D5;
  }
}
table .td:last-child {
  border-right: none;
  border-bottom: none;
}

.list {
  margin-bottom: 1.25em;
  padding: 2.625em 1.875em;
  background-color: #fff;
}
@media (1000px <= width) {
  .list {
    padding: 3.75em 1.875em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.75em;
  }
}
.list__title {
  margin-bottom: 1.4814814815em;
  padding-bottom: 0.3703703704em;
  font-size: 1.25rem;
  border-bottom: 1px solid #DCCBBE;
  text-align: center;
}
@media (1000px <= width) {
  .list__title {
    font-size: 1.6875rem;
  }
}
.list__set {
  margin-bottom: 2.5em;
  font-size: 1rem;
  text-align: center;
}
@media (1000px <= width) {
  .list__set {
    font-size: 1.25rem;
  }
}
.list__item::after {
  content: "+";
  display: block;
}
.list__item:last-child::after {
  content: "";
}
.list__price-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 91.1111111111%;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .list__price-container {
    width: 80%;
  }
}
.list__price-container .arrow__icon {
  padding-bottom: 0.5em;
  font-size: 1.5rem;
}
@media (1000px <= width) {
  .list__price-container .arrow__icon {
    padding-bottom: 0.4em;
    font-size: 2.5rem;
  }
}
.list__price {
  line-height: 1;
}
.list__price .usual {
  width: 110px;
  text-align: center;
}
@media (1000px <= width) {
  .list__price .usual {
    width: 200px;
  }
}
.list__price .usual__category {
  margin-bottom: 0.625em;
}
@media (1000px <= width) {
  .list__price .usual__category {
    margin-bottom: 1.1111111111em;
    font-size: 1.125rem;
  }
}
.list__price .usual__text {
  font-size: 1.5rem;
}
@media (1000px <= width) {
  .list__price .usual__text {
    font-size: 2.375rem;
  }
}
.list__price .special {
  width: 125px;
  text-align: center;
  position: relative;
}
@media (1000px <= width) {
  .list__price .special {
    width: 220px;
  }
}
.list__price .special__category {
  margin-bottom: 0.625em;
}
@media (1000px <= width) {
  .list__price .special__category {
    margin-bottom: 0.7777777778em;
    font-size: 1.375rem;
  }
}
.list__price .special__text {
  font-size: 2rem;
}
@media (1000px <= width) {
  .list__price .special__text {
    font-size: 3rem;
  }
}

.card {
  padding: 2.625em 1.875em;
  background-color: #fff;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;
}
@media (1000px <= width) {
  .card {
    padding: 3.125em;
  }
}
.card__title {
  margin-bottom: 1.25em;
  padding-bottom: 0.375em;
  font-size: 1.125rem;
  border-bottom: 1px solid #DCCBBE;
  text-align: center;
  align-self: flex-end;
}
@media (1000px <= width) {
  .card__title {
    font-size: 1.25rem;
  }
}
.card__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .card__text {
    font-size: 1rem;
  }
}

/*index.html--------------------------------*/
/*top-mainvisual*/
.top-mainvisual-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: url(../image/interior.png) no-repeat center center/cover;
  -webkit-animation: zoomOut 3s ease-out forwards, fadeIn 2.5s forwards;
          animation: zoomOut 3s ease-out forwards, fadeIn 2.5s forwards;
}
@media (1000px <= width) {
  .top-mainvisual-container {
    height: 99vh;
  }
}

.top-mainvisual {
  margin-bottom: 0;
  /* 線のアニメーション */
}
@media (1000px <= width) {
  .top-mainvisual {
    padding: 0;
  }
}
.top-mainvisual .scroll-indicator {
  display: none;
}
@media (1000px <= width) {
  .top-mainvisual .scroll-indicator {
    display: block;
    position: absolute;
    right: 10%;
    bottom: 12%;
    writing-mode: vertical-rl;
    font-weight: bold;
    color: #724B10;
  }
}
.top-mainvisual .scroll-indicator::before {
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  background-color: #724B10;
  bottom: -115px;
  content: "";
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 2px;
}
@-webkit-keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.4;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.4;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/*about*/
.about {
  background-color: #fff;
  padding: 6.25em 0;
  border-radius: 0 0 0 80px;
}
@media (1000px <= width) {
  .about {
    padding: 12.5em 0 6.25em;
    border-radius: 0 0 0 160px;
  }
}
.about__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .about__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (1000px <= width) {
  .about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.about__title {
  margin-bottom: 1.8181818182em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (1000px <= width) {
  .about__title {
    margin-bottom: 1.8181818182em;
    font-style: normal;
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
  }
}
.about__title::after {
  content: "お店について";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .about__title::after {
    font-size: 1.5rem;
    line-height: 0.75;
  }
}
@media (1000px <= width) {
  .about__text {
    width: 33.0769230769%;
  }
}
.about .shopname {
  margin-bottom: 2.875em;
}
.about .shopname__english {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}
@media (1000px <= width) {
  .about .shopname__english {
    font-size: 3rem;
  }
}
.about .shopname__japanese {
  font-size: 1.25rem;
  font-weight: bold;
}
@media (1000px <= width) {
  .about .shopname__japanese {
    font-size: 1.5rem;
  }
}
.about__catch {
  margin-bottom: 2.0869565217em;
  font-size: 1.125rem;
  line-height: 1.7;
}
@media (1000px <= width) {
  .about__catch {
    font-size: 1.4375rem;
    line-height: 2.6086956522;
  }
}
.about__catch .desktop {
  display: none;
}
@media (min-width: 1380px) {
  .about__catch .desktop {
    display: block;
  }
}
.about__catch .transition-point {
  display: none;
}
@media (min-width: 1000px) and (max-width: 1380px) {
  .about__catch .transition-point {
    display: block;
  }
}
.about .btn {
  margin-bottom: 3.75em;
}
@media (1000px <= width) {
  .about .btn {
    margin-bottom: 0;
  }
}
@media (1000px <= width) {
  .about__pic {
    width: 57.6923076923%;
  }
}
.about__pic img {
  border-radius: 10px;
}
.about .scroll_up {
  -webkit-animation-name: scroll_up;
          animation-name: scroll_up;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}

/*menu*/
.menu {
  padding: 6.8181818182em 0;
}
.menu__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .menu__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__title {
  margin-bottom: 1.8181818182em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (1000px <= width) {
  .menu__title {
    margin-bottom: 1em;
    font-style: normal;
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
  }
}
.menu__title::after {
  content: "メニュー";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .menu__title::after {
    font-size: 1.5rem;
    line-height: 0.75;
  }
}
.menu__maintitle {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
}
@media (1000px <= width) {
  .menu__maintitle {
    font-size: 2.25rem;
  }
}
.menu__maintitle::after {
  content: "基本メニュー";
  display: block;
  line-height: 1;
  font-size: 1rem;
}
@media (1000px <= width) {
  .menu__maintitle::after {
    font-size: 1.25rem;
  }
}
.menu__subtitle {
  padding-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .menu__subtitle {
    padding-bottom: 1em;
    font-size: 2.125rem;
  }
}
.menu__subtitle::after {
  content: "その他のメニュー";
  display: block;
  line-height: 1;
  font-size: 1rem;
}
@media (1000px <= width) {
  .menu__subtitle::after {
    font-size: 1.25rem;
  }
}
.menu__main {
  margin-bottom: 3.125em;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .menu__main {
    width: 80%;
  }
}
.menu__option {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em;
}
@media (1000px <= width) {
  .menu__option {
    width: 60%;
    margin-bottom: 2.5em;
  }
}
.menu .btn {
  margin-left: auto;
  margin-right: auto;
}
.menu__pic {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em;
  transition: box-shadow 0.4s ease-in-out;
}
@media (1000px <= width) {
  .menu__pic {
    width: 45vw;
  }
}
.menu__pic:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

/*shopinfo*/
.shopinfo {
  padding: 6.8181818182em 0;
  background-color: #fff;
  border-radius: 0 0 80px 0;
}
@media (1000px <= width) {
  .shopinfo {
    border-radius: 0 0 160px 0;
  }
}
.shopinfo__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .shopinfo__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.shopinfo__title {
  margin-bottom: 1.8181818182em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (1000px <= width) {
  .shopinfo__title {
    margin-bottom: 1.8181818182em;
    font-style: normal;
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
  }
}
.shopinfo__title::after {
  content: "店舗情報";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .shopinfo__title::after {
    font-size: 1.375rem;
    line-height: 0.75;
  }
}
@media (1000px <= width) {
  .shopinfo__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.shopinfo__unit {
  margin-bottom: 6.25em;
  text-align: center;
}
@media (1000px <= width) {
  .shopinfo__unit {
    width: 35%;
    margin-bottom: 0;
  }
}
.shopinfo__unit .btn {
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .shopinfo__point {
    width: 53%;
  }
}
.shopinfo__category {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.4em;
}
@media (1000px <= width) {
  .shopinfo__category {
    font-size: 1.875rem;
  }
}
.shopinfo__category::after {
  content: "-営業時間-";
  font-size: 1rem;
  display: block;
  line-height: 1;
}
@media (1000px <= width) {
  .shopinfo__category::after {
    font-size: 1.125rem;
  }
}
.shopinfo__text {
  font-size: 2rem;
  font-weight: bold;
}
@media (1000px <= width) {
  .shopinfo__text {
    font-size: 3.125rem;
  }
}
.shopinfo__closed {
  margin-bottom: 2.375em;
  font-size: 1rem;
}

/*instagram*/
.instagram {
  padding: 6.8181818182em 0;
}
@media (1000px <= width) {
  .instagram {
    padding: 6.8181818182em 0 0;
  }
}
.instagram__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.instagram__title {
  margin-bottom: 1.8181818182em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
@media (1000px <= width) {
  .instagram__title {
    margin-bottom: 0.625em;
    font-style: normal;
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
  }
}
.instagram__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .instagram__list {
    width: 90%;
    padding-bottom: 5.625em;
  }
}
.instagram__list iframe {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .instagram__list iframe {
    width: 85%;
  }
}
.instagram__item {
  width: 50%;
}
@media (1000px <= width) {
  .instagram__item {
    width: 25%;
  }
}
.instagram .pagelist {
  display: flex;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.instagram .pagelist__item {
  padding-left: 2.2222222222em;
}
@media (1000px <= width) {
  .instagram .pagelist {
    font-size: 1.125rem;
  }
}

/*about.html--------------------------------*/
/*about-mainvisual*/
.about-mainvisual {
  position: relative;
  background: url(../image/interior.png) no-repeat center center/cover;
}
.about-mainvisual::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.1;
}

/*concept*/
.concept {
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .concept {
    margin-bottom: 8.75em;
    padding-bottom: 0;
    border-bottom: none;
    line-height: 2.375;
  }
}
.concept__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
}
@media (1000px <= width) {
  .concept__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.75em;
  }
}
@media (1000px <= width) {
  .concept__content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.concept__catch {
  margin-bottom: 0.8em;
  font-size: 1.25rem;
}
@media (1000px <= width) {
  .concept__catch {
    margin-bottom: 0.2em;
    font-size: 1.875rem;
  }
}

.swiper-slide img {
  border-radius: 10px;
}

/*serivces*/
@media (1000px <= width) {
  .services {
    margin-bottom: 8.75em;
    line-height: 2.375;
  }
}
.services__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.services-menu {
  margin-bottom: 3.125em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #DCCBBE;
}
@media (640px <= width) {
  .services-menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (1000px <= width) {
  .services-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 3.75em;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.services-menu__pic {
  margin-bottom: 1em;
}
@media (1000px <= width) {
  .services-menu__pic {
    width: 45%;
    margin-bottom: 0;
  }
}
.services-menu__pic img {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (1000px <= width) {
  .services-menu__pic img {
    width: 100%;
  }
}
.services-menu__content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (640px <= width) {
  .services-menu__content {
    width: 100%;
  }
}
@media (1000px <= width) {
  .services-menu__content {
    width: 45%;
  }
}
.services-menu__catch {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  line-height: 1.7;
}
@media (1000px <= width) {
  .services-menu__catch {
    font-size: 1.75rem;
  }
}

.services-space {
  margin-bottom: 3.125em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #DCCBBE;
}
@media (640px <= width) {
  .services-space {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (1000px <= width) {
  .services-space {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.services-space__pic {
  margin-bottom: 1em;
}
@media (1000px <= width) {
  .services-space__pic {
    width: 45%;
    margin-bottom: 0;
  }
}
.services-space__pic img {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (1000px <= width) {
  .services-space__pic img {
    width: 100%;
  }
}
.services-space__content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
@media (640px <= width) {
  .services-space__content {
    width: 100%;
  }
}
@media (1000px <= width) {
  .services-space__content {
    width: 45%;
  }
}
.services-space__catch {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}
@media (1000px <= width) {
  .services-space__catch {
    font-size: 1.75rem;
    margin-bottom: 0.2142857143em;
  }
}

/*message*/
.message__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em;
}
@media (1000px <= width) {
  .message__inner {
    margin-bottom: 8.75em;
  }
}
@media (1000px <= width) {
  .message__content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.message__text {
  width: 90%;
  margin-bottom: 1.25em;
  margin-left: auto;
  margin-right: auto;
}
@media (640px <= width) {
  .message__text {
    width: 70%;
  }
}
@media (1000px <= width) {
  .message__text {
    width: 100%;
    margin-bottom: 3.75em;
    line-height: 2.375;
    text-align: center;
  }
}
.message__pic {
  text-align: center;
}
.message__pic img {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (640px <= width) {
  .message__pic img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (1000px <= width) {
  .message__pic img {
    width: 80%;
  }
}

/*stamp*/
.stamp {
  padding: 3.125em 0;
  background-color: #E1D9D2;
}
@media (1000px <= width) {
  .stamp {
    width: 70%;
    margin-left: auto;
    border-radius: 60px 0 0 60px;
  }
}
.stamp__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .stamp__inner {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.stamp__content {
  margin-bottom: 2.5em;
}
@media (1000px <= width) {
  .stamp__content {
    width: 30%;
    margin-bottom: 0;
  }
}
.stamp__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-weight: normal;
}
@media (1000px <= width) {
  .stamp__title {
    margin-bottom: 0.3333333333em;
    font-size: 1.875rem;
    font-weight: bold;
    text-align: start;
    font-weight: normal;
    width: 400px;
  }
}
.stamp__text {
  font-size: 0.875rem;
}
@media (640px <= width) {
  .stamp__text {
    text-align: center;
  }
}
@media (1000px <= width) {
  .stamp__text {
    width: 380px;
    font-size: 1rem;
    text-align: left;
    line-height: 2.375;
  }
}
.stamp__pic {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
}
@media (640px <= width) {
  .stamp__pic {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.stamp__front {
  width: 50%;
  margin-right: 0.625em;
}
@media (1000px <= width) {
  .stamp__front {
    width: 45%;
    margin-right: 0;
  }
}
.stamp__back {
  width: 45%;
}
@media (1000px <= width) {
  .stamp__back {
    width: 40%;
    margin-left: 3.75em;
  }
}

/*allinfo*/
.allinfo {
  margin-bottom: 3.75em;
  padding-top: 7.5em;
}
.allinfo__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .allinfo__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.75em;
    line-height: 2.375;
  }
}
.allinfo__list {
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .allinfo__list {
    width: 1000px;
  }
}
.allinfo__title {
  margin-bottom: 1.25em;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}
@media (1000px <= width) {
  .allinfo__title {
    font-size: 2.5rem;
  }
}
.allinfo__title::after {
  content: "店舗情報";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .allinfo__title::after {
    font-size: 1.25rem;
  }
}
.allinfo__item {
  margin-bottom: 1.875em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid #DCCBBE;
}
@media (1000px <= width) {
  .allinfo__item {
    margin-bottom: 3.75em;
    padding-bottom: 1.375em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
  }
}
.allinfo__category {
  width: 100px;
  padding-bottom: 0.75em;
  opacity: 0.7;
}
@media (1000px <= width) {
  .allinfo__category {
    padding-bottom: 0;
    font-size: 1.0625rem;
  }
}
@media (1000px <= width) {
  .allinfo__text {
    padding-left: 9.375em;
    font-size: 1.0625rem;
  }
}

/*menu.html--------------------------------*/
.menu-mainvisual {
  background: url(../image/scissors.png) no-repeat center center/cover;
}

.menu-guidance__inner {
  width: 80%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .menu-guidance__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu-guidance__text {
  margin-bottom: 3.75em;
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .menu-guidance__text {
    margin-bottom: 3.75em;
    font-size: 1rem;
    line-height: 2.125;
  }
}

.mainmenu__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em;
}
@media (1000px <= width) {
  .mainmenu__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.1875em;
  }
}
.mainmenu__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .mainmenu__title {
    margin-bottom: 0.8333333333em;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
}
.mainmenu__title::after {
  content: "基本メニュー";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .mainmenu__title::after {
    font-size: 1.25rem;
  }
}
.mainmenu__table {
  margin-left: auto;
  margin-right: auto;
}

.option__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .option__inner {
    margin-bottom: 7.1875em;
  }
}
.option__title {
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .option__title {
    margin-bottom: 1em;
    font-size: 2.125rem;
    font-weight: bold;
    text-align: center;
  }
}
.option__title::after {
  content: "その他のメニュー";
  display: block;
  font-size: 1rem;
}
@media (1000px <= width) {
  .option__title::after {
    font-size: 1.25rem;
  }
}
.option__subtitle {
  padding: 0.3125em;
  font-size: 1.375rem;
  text-align: center;
  background-color: #DCCBBE;
}
@media (1000px <= width) {
  .option__subtitle {
    padding: 0.75em;
    font-size: 1.5rem;
  }
}
@media (1000px <= width) {
  .option__allmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.option__color {
  margin-bottom: 1.25em;
  background-color: #fff;
}
@media (1000px <= width) {
  .option__color {
    width: 46.9230769231%;
    margin-bottom: 4.375em;
  }
}
.option__parm {
  margin-bottom: 1.25em;
  background-color: #fff;
}
@media (1000px <= width) {
  .option__parm {
    width: 46.9230769231%;
    margin-bottom: 4.375em;
  }
}
.option__shave {
  margin-bottom: 1.25em;
  background-color: #fff;
}
@media (1000px <= width) {
  .option__shave {
    width: 46.9230769231%;
    margin-bottom: 4.375em;
  }
}
.option__care {
  margin-bottom: 1.25em;
  background-color: #fff;
}
@media (1000px <= width) {
  .option__care {
    width: 46.9230769231%;
    margin-bottom: 4.375em;
  }
}
@media (1000px <= width) {
  .option__care .option__item::before {
    border-bottom: 1px dotted;
  }
}
.option__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  font-size: 1rem;
  border-bottom: 1px solid #D5D5D5;
}
.option__item:last-child {
  border-bottom: none;
}
@media (1000px <= width) {
  .option__item {
    padding: 1.25em 0;
  }
}
.option__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 1px dotted;
  top: 0;
  left: 0;
}
.option__category {
  padding: 0 1.75em 0 1.75em;
  background-color: #fff;
  position: relative;
}
@media (1000px <= width) {
  .option__category {
    padding: 0 3.75em 0 3.75em;
  }
}
.option__text {
  padding: 0 1.75em 0 1.75em;
  background-color: #fff;
  position: relative;
}
@media (1000px <= width) {
  .option__text {
    padding: 0 3.75em 0 3.75em;
  }
}

.color .option__subtitle::after {
  content: "/カラー";
  font-size: 1rem;
  padding-left: 0.6em;
}
@media (1000px <= width) {
  .color .option__subtitle::after {
    font-size: 1.25rem;
    padding-left: 0.5em;
  }
}

.parm .option__subtitle::after {
  content: "/パーマ";
  font-size: 1rem;
  padding-left: 0.6em;
}
@media (1000px <= width) {
  .parm .option__subtitle::after {
    font-size: 1.25rem;
    padding-left: 0.5em;
  }
}

.shave .option__subtitle::after {
  content: "/シェービング";
  font-size: 1rem;
  padding-left: 0.6em;
}
@media (1000px <= width) {
  .shave .option__subtitle::after {
    font-size: 1.25rem;
    padding-left: 0.5em;
  }
}

.care .option__subtitle::after {
  content: "/ケア";
  font-size: 1rem;
  padding-left: 0.6em;
}
@media (1000px <= width) {
  .care .option__subtitle::after {
    font-size: 1.25rem;
    padding-left: 0.5em;
  }
}

.cource__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .cource__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.1875em;
  }
}
.cource__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .cource__title {
    margin-bottom: 0.8333333333em;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
}
.cource__title::after {
  content: "平日限定のお得なコース";
  font-size: 1rem;
  display: block;
}
@media (1000px <= width) {
  .cource__title::after {
    font-size: 1.25rem;
  }
}

.all500__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .all500__inner {
    margin-bottom: 7.1875em;
  }
}
.all500__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .all500__title {
    margin-bottom: 0.8333333333em;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
}
.all500__title::after {
  content: "500円メニュー";
  display: block;
  font-size: 1.25rem;
}
.all500__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1.5625em;
}
@media (1000px <= width) {
  .all500__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8125em;
  }
}

.question__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .question__inner {
    margin-bottom: 7.1875em;
  }
}
.question__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .question__title {
    margin-bottom: 0.8333333333em;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
}
.question__title::before {
  content: "よくある質問";
  display: block;
  font-size: 1.125rem;
}
.question__list {
  margin-left: auto;
  margin-right: auto;
}
@media (1000px <= width) {
  .question__list {
    width: 80%;
  }
}
.question__item {
  margin-bottom: 1.125em;
}
@media (1000px <= width) {
  .question__item {
    margin-bottom: 1.875em;
  }
}
.question__item:nth-child(2) .question__text {
  margin-bottom: 0;
}
.question__btn {
  padding: 0.75em;
  font-size: 1rem;
  background-color: #E1D9D2;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (1000px <= width) {
  .question__btn {
    padding: 1.5em;
    font-size: 1.125rem;
  }
}
.question__description {
  width: 280px;
  display: flex;
}
@media (640px <= width) {
  .question__description {
    width: auto;
  }
}
@media (1000px <= width) {
  .question__description {
    width: auto;
    font-size: 1.25rem;
  }
}
.question__mark {
  padding-right: 0.625em;
  font-size: 1rem;
}
@media (1000px <= width) {
  .question__mark {
    font-size: 1.25rem;
  }
}
.question__arrow {
  font-size: 1.125rem;
  transform: rotate(0deg);
  transition-duration: 0.3s;
}
@media (1000px <= width) {
  .question__arrow {
    font-size: 1.25rem;
  }
}
.question__arrow.active {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}
.question__content {
  background-color: #fff;
  padding: 0 1.25em;
  display: block grid;
  transition: grid-template-rows 0.5s, padding 0.5s;
  grid-template-rows: 0fr;
}
@media (1000px <= width) {
  .question__content {
    padding: 0 2.25em;
  }
}
.question__content-inner {
  overflow: hidden;
}
.question__content.active {
  padding: 1.25em;
  grid-template-rows: 1fr;
}
@media (1000px <= width) {
  .question__content.active {
    padding: 2.25em;
  }
}
.question__answer {
  display: flex;
  margin-bottom: 1.25em;
}
@media (1000px <= width) {
  .question__answer {
    margin-bottom: 0.625em;
  }
}
.question__catch {
  font-size: 1rem;
}
@media (1000px <= width) {
  .question__catch {
    font-size: 1.25rem;
  }
}
.question__text {
  margin-bottom: 1.875em;
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .question__text {
    font-size: 1rem;
  }
}
.question__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: unset;
  margin-top: 3.75em;
}
.question__price {
  margin-bottom: 1.875em;
}
@media (1000px <= width) {
  .question__price {
    font-size: 1.25rem;
  }
}
.question img {
  border-radius: 10px;
}
@media (1000px <= width) {
  .question__pic-shaving {
    width: 50%;
  }
}
.question__pic-shaving img {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.question__pic-fadecut {
  text-align: center;
}
@media (1000px <= width) {
  .question__pic-fadecut {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.question__pic-fadecut img {
  width: 80%;
  aspect-ratio: 4/5;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.875em;
}
@media (1000px <= width) {
  .question__pic-fadecut img {
    margin-bottom: 0;
  }
}

.drink__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
@media (1000px <= width) {
  .drink__inner {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.1875em;
  }
}
.drink__title {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (1000px <= width) {
  .drink__title {
    margin-bottom: 0.8333333333em;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
}
.drink__desktop {
  text-align: center;
  display: none;
}
@media (1000px <= width) {
  .drink__desktop {
    display: block;
  }
}
.drink__mobile {
  display: block;
}
@media (1000px <= width) {
  .drink__mobile {
    display: none;
  }
}
.drink__board {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*privacy.html---------------------------------*/
/*privacy*/
.privacy {
  margin: 6.4285714286em 0;
  line-height: 2.1428571429;
}
@media (1000px <= width) {
  .privacy {
    margin: 10em 0 6.25em;
    line-height: 2;
  }
}
.privacy__inner {
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.privacy__chapter {
  margin-bottom: 3.125em;
}
@media (1000px <= width) {
  .privacy__chapter {
    margin-bottom: 3.75em;
  }
}
.privacy__title {
  margin-bottom: 1.875em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  text-align: center;
  text-align: center;
}
@media (1000px <= width) {
  .privacy__title {
    font-size: 2.25rem;
    margin-bottom: 1.25em;
  }
}
.privacy__title::after {
  content: "個人情報保護方針";
  display: block;
  font-size: 1rem;
  line-height: 1.5;
}
@media (1000px <= width) {
  .privacy__title::after {
    font-size: 1.125rem;
  }
}
.privacy__subtitle {
  margin-bottom: 0.625em;
  border-bottom: 1px solid #DCCBBE;
  font-size: 1.125rem;
}
@media (1000px <= width) {
  .privacy__subtitle {
    font-size: 1.375rem;
  }
}
.privacy__text-container {
  margin-bottom: 1.25em;
}
.privacy__text {
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .privacy__text {
    font-size: 1rem;
  }
}
.privacy__list {
  margin-top: 1.875em;
  font-size: 0.875rem;
}
@media (1000px <= width) {
  .privacy__list {
    font-size: 1rem;
  }
}
.privacy__item {
  margin-bottom: 1em;
}
.privacy__contact {
  margin-top: 1.25em;
}

a.es-header-btn {
  background-color: red !important;
}
/*# sourceMappingURL=style.css.map */